* {
    font-family: 'Lucida Sans';
}

body {
    display: flex;
    flex-direction: row;
}

.right-content {
    display: flex;
    padding: 0px 60px;
    flex-direction: column;
    background-color: white;
    width: 70%;

}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    background-color: rgb(55, 66, 82);
    width: 30%;
}

.contact {
    padding-top: 40px;
    text-align: center;
}

.skills {
    padding-top: 90px;
}

.foto-perfil img {
    border-radius: 68px;
    box-shadow: 8px 8px 50px 0px #000;
    width: 230px;
}

.skillpicture img {
    width: 20px;
    margin-left: 20px;
}

.skillpicture h2 {
    display: flex;
    flex-direction: row;
}

.contact img {
    width: 28px;
    margin-right: 20px;
}

.skill-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.email-element,
.phone-element,
.ubication,
.link {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
}


.skills img {
    width: 20px;
    margin-left: 20px;
}


.perfil {
    box-sizing: border-box;
    text-align: justify;
    padding: 10px 0px;
}

h1.titulo {
    text-align: center;
    padding-top: 10px;
}

.experiences {
    display: flex;
    flex-direction: column;
}

.experiences h2 {
    align-self: center;
}

.experience-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
}


.description {
    border-left: 1px solid #000;
    padding-bottom: 14px;
    text-align: justify;
    flex: 1;
    padding-left: 50px;
    margin-left: 20px;
}

.point {
    background-color: #000;
    position: absolute;
    margin-left: -57.5px;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.education-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.date {
    padding: 0px 5px 0px 0px;
    width: 30%;

}

.education {
    margin-top: 50px;

}

.education h2 {
    text-align: center;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 180px;
    height: 20px;
}


progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, rgb(129, 139, 143), rgba(54, 42, 216, 0.473));

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;

}