* {
    font-family: 'Lucida Sans';
}

body {
    display: flex;
}

.right-content {
    background-color: white;
    width: 70%;

}

.left-content {
    background-color: rgb(55, 66, 82);
    width: 30%;

}

.contact {
    width: 30vw;
}

.perfil {
    box-sizing: border-box;
    text-align: justify;
    padding: 10px 50px 10px 30px;
}

h1.titulo {
    text-align: center;
    padding-top: 10px;
}



.experiencias {
    box-sizing: border-box;
}

li.experiencia {
    box-sizing: border-box;
}

.educacion {
    box-sizing: border-box;
}